
body{
    font-family: 'Poppins'
}

/*navigation*/
.navBarFixed{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 5px 10px 18px #888;
    z-index: 1;
  }
  
.Logo{
    max-width:  100%;
    max-height: 60px;
    align-self: center
  }

.topnav {
      overflow: hidden; 
    }
    
.topnav a {
      display: inline-block;
      color: black;
      text-align: center;
      padding-right: 30px;
      text-decoration: none;
      font-size: 16px;   
      line-height: 24px;
      font-weight: 500
  }
    
.topnav a:hover {
      color:#D83C37;
    }
    
.topnav a.active {
      color:#D83C37;
    }
    
.topnav .icon {
      display: none;
      position: relative;
      color: #D83C37;
      
    }

.title{
      font-weight: 700;
      font-size:30px;
      line-height: 30px;
     
    }
    
#errorMessage{
  color:red
}    
.container{
    display: flex;
    flex-direction: column; 
    align-content: center;
    margin-left:10px;
    margin-right:10px;
    gap: 15px;
  } 


#hiddenSection{
  align-self: flex-end;
  margin-right: 20px;
}   

#commentError {
  color: red;
}

#blogCover{
  text-align: center;
}
#blogCover img{
  width: 100%;
  height: 24rem;
  object-fit: cover;
  margin-top: 20px;
}



.blogSection{
  
}

.comments{
  margin-top: 20px;
  align-self: flex-start;
}

.commentForm{
  margin-bottom:50px;
}


input[type=text],input[type=email],textarea{
  resize: vertical;
  padding: 12px;
  width: 90%;
}

input[type=submit] {
  background-color: #7f99c7;;
  color: white;
  padding: 14px 90px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.eachComment{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px; 
}

.commentName{
  background-color: #d83c37;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 17px 1px;
  text-align: center;
 
}
#commentList{
  max-height:25rem;
  overflow-x: scroll;
 
}
.commentDescription{
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  width: 100%;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #d83c37
}



 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
 input[type=text],input[type=email],textarea {
    width: 85%;
  }
  .commentName{
    width: 75%;
  }
  .commentDescripton{
    width: 85%;
  }
  input[type=submit]{
    width: 93%;
  } 
}