
body{
    font-family: 'Poppins'
}


select{
  color: #ffffff;
  border-radius: 10px;
  border-color: white
}
/* CSS for drop down  */
.selectdiv select {
  /* Add some styling */
  height: 30px;
  background-color: #f14e4e
}

/*navigation*/
.navBarFixed{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 5px 10px 18px #888;
    z-index: 1;
  }
  
.Logo{
    max-width:  100%;
    max-height: 60px;
    align-self: center
  }

.topnav {
      overflow: hidden; 
    }
    
.topnav a {
      display: inline-block;
      color: black;
      text-align: center;
      padding-right: 30px;
      text-decoration: none;
      font-size: 16px;   
      line-height: 24px;
      font-weight: 500
  }
    
.topnav a:hover {
      color:#D83C37;
    }
    
.topnav a.active {
      color:#D83C37;
    }
    
.topnav .icon {
      display: none;
      position: relative;
      color: #D83C37;
      
    }

.title{
      font-weight: 700;
      font-size:30px;
      line-height: 30px;
     
    }
.smallTitle{
  font-weight: 300;
  font-size:10px;
  line-height: 30px;
}   
    
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }    

.container > div {
  padding-top: 20px;
}  
    
/* blog cards*/

.wrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: minmax(600px 320px 320px);
  grid-template-rows:300px 300px;
  background-color: #fff;
  color: #444;
  text-align:center;
}

#a {
  grid-column: 1;
  grid-row: 1/3;
  position: relative;
 
}

#a .content {
  position: absolute;;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
}

#b .content {
  position: absolute;;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  
}
#c .content {
  position: absolute;;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;   
}
#d .content {
  position: absolute;;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;  
   
}

#a img{
  max-width: 100%;
  height:100%;
  object-fit: cover;
  
}

#b img{
  max-width: 100%;
  height:100%;
  object-fit: cover;
}

#c img{
  max-width: 100%;
  height:100%;
  object-fit: cover;
}

#d img{
  width: 100%;
  height:100%;
  object-fit: cover;
} 
 
#b {
  grid-column: 2 ;
  grid-row: 1;
  position: relative;
}
#c {
  grid-column: 3 ;
  grid-row: 1;
  position: relative;
}
#d {
  grid-column:2/4;
  grid-row: 2;
  position: relative;
}

i{
  color: #D83C37;
}

.contentDetails{
  margin-top: 95%;
  margin-left: 4%;
  text-align: start;
}
 a{
  color:white;
  text-decoration: none;
}

.content :hover{
  opacity: 0.8;
}
.contentDetails_1{
  margin-top: 25%;
  margin-left: 4%;
  text-align: start;
}
.contentDetails_2{
  margin-top: 10%;
  margin-left: 4%;
  text-align: start;
}


.SecondWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}


#inner figure  {
  box-shadow: -6px 6px 2px -3px rgba(100, 100, 100, 0.1);
  width: 70%;
  margin:auto;
  margin-bottom:20px

} 



#inner img {
  height: 20em;
  width: 100%;
  object-fit: cover;
}



@media (max-width: 550px) {

  #a,#b,#c,#d{
    grid-row: auto;
    grid-column: auto;
   
  }
  .contentDetails,.contentDetails_1{
  margin-top: 15%;
  margin-left: 4%;
  text-align: start;
  }
  .contentDetails_2{
  margin-top: 15%;
  margin-left: 4%;
  text-align: start;
  }

  .wrapper {
    grid-template-columns: repeat(1,100%);
    grid-template-rows:repeat(4,300px);
  }
  #inner figure{
    width: 100%;
  }
  
 }