body {font-family: 'Poppins'}

input[type=text], input[type=password] {
  width:75px;
  padding: 12px 150px;
  margin: 25px 0px;
  display: inline-block;
}


button {
  background-color: #7F99C7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  align-content: center;
  justify-content: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 450px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
  input[type=text], input[type=password] {
   width: 100%;
  }
}