
html{
  scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', 'sans-serif'
}

.title{
  font-weight: 700;
  font-size:30px;
  line-height: 30px;
}

.small_title{
  font-weight: 400;
  font-size:15px;
  line-height: 30px;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 109vh; 
}

header{
  background: url('./img/Bg.png') center;
  background-size: cover;
  padding: 4rem 1rem;
} 

/* navigation bar*/
.navBarFixed{
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:9vh
}


.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 5px 10px 18px #888;
  z-index: 1;
  height:9vh
}


.Logo{
  max-width:  100%;
}

.topnav {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    gap:30px;
    overflow: hidden; 
  }
  
.topnav a {
    padding-right: 20px;
    color: black;
    text-decoration: none;
    font-size: 16px;   
    line-height: 24px;
    font-weight: 500
}
  
  .topnav a:hover {
    color:#D83C37;
  }
  
  .topnav a.active {
    color:#D83C37;
  }
  
  .topnav .icon {
    display: none;
    position: relative;
    color: #D83C37;
    
  }
  
  @media screen and (max-width: 725px) {
    .topnav a{display: none;}
    .topnav a.icon {
      display: block;
    }
  }
  

/* adding navigation of Fullscreen*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  /* first section*/

.myName{
  font-size: 40px;
  font-weight: 700;
}
.fullStck{
  color: #D83C37;
}

a.button4{
  display:inline-block;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  padding:0.3em 1.2em;
}


/* Second section*/

.projectCard__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.projectCard{
  width: 370px;
  height: 390px;
  perspective: 1000px;
  flex-shrink: 0;
}

.innerProjectCard{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all .6s ease;;
  transform-style: preserve-3d;
 
}

.projectCard:hover .innerProjectCard {
  transform: rotateY(180deg);
}

.frontInnerProjectCard, .backInnerProjectCard {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  
}

.frontInnerProjectCard{
  text-align: center;
  color: black;

}

.backInnerProjectCard {
  background-image: linear-gradient(to right bottom, #2998FF, #5643FA);
  color: black;
  transform: rotateY(180deg);
 
}


/* third section*/

.serviceCard__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap:30px
}
.card {
  background: #1F2124;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 25%;
  text-align: center;
  color: white;
}

.card .title {
  font-size: 25px;
}


.card .features ul {
  padding: 0;
  margin: 20px 0 50px 0;
  list-style-type: none;
}
.card .features ul li {
  font-weight: 400;
  font-size:20px;
  line-height: 30px;
}

/* fourth section*/
.educationCardWrapper{
  display: flex;
  flex-direction: column;
  gap:30px
}

.educationCard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 700px;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.projectCard__data{

}

.educationCardImg{
  
}

.educationLine{
  width: 40px;
  height: 7px;
  background-color: orangered;
  border-radius: 10px;
}
/* fifth section*/

.container_contact {
  width: 10px;
  background-color: #f2f2f2;

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 400px; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 20px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049
}
