<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userProfile</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/adminPanel.css">
<body>
    <!-- nvagiation system-->
    <div id="navBar" class="navBarFixed">
        <div> <a href="../index.html"><img class="Logo" src="../../img/Logo.png"></a> </div>  
        <div class="topnav" id="myTopnav">
            <a href="../index.html" class="active">Home</a>
            <a href="../templates/blog.html">Blog</a>
            <a href="../adminPanel.html">adminPanel</a>
        </div>
    </div>

    <div class="container">    
        <div id="wrapper">
            <span> landingPage Section</span>
            <div id="errorMessage"></div>
            <form id="homeForm" action="">
                <div class="row">
                        <div class="col-25">
                            <label for="meImg">me Img</label>
                        </div>
                        <div class="col-75">
                            <input type="file" id="meImg" name="meImg"><br>
                            <input type="checkbox" id="checkInput" name="checkInput" value="checkInput">
                            <label for="checkInput"> check to change image</label>
                            <div id="imgDisplay">
                            </div>
                            <progress id="uploader" value="0" max="100">0%</progress>
                        </div>
                </div>
                <div class="row">
                       
                        <div class="col-25">
                            <label for="fullName">full Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="fullName" name="fullName" placeholder="add full name ..." required>
                        </div>
                </div>
                <div class="row">
                        <div class="col-25">
                            <label for="catchLine">a catch line</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="catchLine" name="catchLine" placeholder="add catch line ..." required>
                        </div>  
                </div>
                <div class="row">
                    <input type="submit" id="updateLandingSection" value="Submit">
                </div>
        </div>
    </div>
       
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-storage.js"></script>     
<script src="../../scripts/helper.js"></script>
<script src="../../scripts/landingSection.js"></script>    
</body>
</html>
