<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userProfile</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/adminPanel.css">
<body>
    <!-- nvagiation system-->
    <div id="navBar" class="navBarFixed">
        <div> <a href="../../index.html"><img class="Logo" src="../../img/Logo.png"></a> </div>  
        <div class="topnav" id="myTopnav">
            <a href="../../index.html" class="active">Home</a>
            <a href="../blog.html">Blog</a>
            <a href="../adminPanel.html">adminPanel</a>
        </div>
    </div>

    <div class="container">    
        <div id="wrapper">
            <span> project Section</span>
            <div id="selectdiv">
                <a href="/templates/sections/projectsSection.html">click here to create new card</a>
                <label>select a card to edit:</label>
                <label>
                    <select id="selectedElement">
                    </select>
                </label>
              </div>
              <div id="deleteCard"></div>
            <div id="errorMessage"></div>
            <form id="projectForm" action="">  
            <div class="row">
                    <div class="col-25">
                        <label for="projectImg">project image</label>
                    </div>
                    <div class="col-75">
                        <input type="file" id="projectImg" name="projectImg"><br>
                        <input type="checkbox" id="checkInput" name="checkInput" value="checkInput">
                            <label for="checkInput"> check to change image</label>
                            <div id="imgDisplay">
                            </div>
                        <progress id="uploader" value="0" max="100">0%</progress>
                    </div>
            </div>
            <div class="row">
                    <div class="col-25">
                        <label for="projectTitle">project title</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="projectTitle" name="projectTitle" placeholder="project title ..." required>
                    </div>
            </div>
            <div class="row">
                    <div class="col-25">
                        <label for="projectBody">project body</label>
                    </div>
                    <div class="col-75">
                        <textarea id="projectBody" name="projectBody" placeholder="Write something about this project .." required rows=3></textarea>
                    </div>
            </div>
                <div class="row">
                    <input type="submit" id="updateProjectsSection" value="Submit">
                </div>
            </form>    
        </div>
    </div>
       
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-storage.js"></script>     
<script src="../../scripts/helper.js"></script>
<script src="../../scripts/projectsSection.js"></script>    
</body>
</html>
