<!doctype html>
<html len="en">
<head>
    <title>myBlog</title>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="Tech Blog,Rwanda,East Africa">
    <meta name="author" content="Niyonsaba Mugabo Deo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/blog.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
</head>
<body onload="signInStatus()">
  <!-- nvagiation system-->
  <div id="navBar" class="navBarFixed">
    <div> <a href="../index.html"><img class="Logo" src="../img/Logo.png"></a> </div>  
    <div class="topnav" id="myTopnav">
      <a href="../index.html" class="active">Home</a>
      <a href="../templates/blog.html">Blog</a>
    </div>
  </div>

  <div class="container">
    <div class="titleProjects">
      <span class="title"> My Blog</span><br>
    </div>

    <div>
      <div class="selectdiv">
        <label>Sort:</label>
        <label>
            <select>
                <option value="new" selected>New </option>
                
            </select>
        </label>
      </div>
</div>   
<div id="errorMessage"></div>
<div class="wrapper">

  <div class="highlightContent" id="a">
    
  </div>
  <div class="highlightContent"  id="b"> 
        
  </div>
  <div class="highlightContent"  id="c">
        
  </div>
   
  <div class="highlightContent" id="d">
  
  </div>

</div> 

<div class="Secondwrapper">
  <div id="inner">
  </div>
</div>
   
  </div>            
  </div>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
<script src="../scripts/helper.js"></script>
<script src="../scripts/blog.js"></script>
</body>
</html>