<!doctype html>
<html lang="en">
<head>
    <title>myBlog</title>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="Tech Blog,Rwanda,East Africa">
    <meta name="author" content="Niyonsaba Mugabo Deo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/blogArticle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
</head>
<body onload="signInStatus()">
  <!-- nvagiation system-->
  <div id="navBar" class="navBarFixed">
    <div> <a href="../index.html"><img class="Logo" src="../img/Logo.png"></a> </div>  
    <div class="topnav" id="myTopnav">
      <a href="../index.html" class="active">Home</a>
      <a href="../templates/blog.html">Blog</a>
    </div>
  </div>

  <div class="container">
    <div id="hiddenSection">
    </div>
    <div id="errorMessage"></div>
    <div id="articleContent">
     <!-- article content goes here-->
    </div>
    <div class="comments">
      <div class="commentForm"> 
        <form id="commentForm" action="">
          <div id="commentError"> </div>
          <div>
            <label for="fname">name</label> 
            <input  type="text" id="fullName" name="name" placeholder="Your name.." required> 
          </div>
            
          <div>
            <label  for="lname">E-mail</label> 
            <input  type="email" id="email" name="email" placeholder="YourEmail.." required> 
          </div>  
            
          <div>
            <label  for="comment"> Comment</label>
            <textarea  id="comment" name="comment" placeholder="put you comment here.." required></textarea>
          </div>     
              <div><input type="submit" value="Submit"> </div> 
        </form>
        </div>
        <div id="smallTitle">comments(<span id="commentsNumber"></span>)</div>
        <div id="commentList">
        </div>
      </div> 
  </div> 
   <!-- The core Firebase JS SDK is always required and must be listed first -->
   <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
   <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
   <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>      
  <script src="../scripts/helper.js"></script> 
  <script src="../scripts/blogArticle.js"></script> 
  <script src="../scripts/comment.js"></script> 
</body>
</html>