<!doctype html>
<html len="en">
<head>
    <title>myBlog</title>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="Tech Blog,Rwanda,East Africa">
    <meta name="author" content="Niyonsaba Mugabo Deo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
</head>
<body onload="signInStatus()">
   <!-- nvagiation system-->
   <div id="navBar" class="navBarFixed">
    <div> <a href="../index.html"><img class="Logo" src="../img/Logo.png"></a> </div>  
    <div class="topnav" id="myTopnav">
      <a href="../index.html" class="active">Home</a>
      <a href="./blog.html">Blog</a>
    </div>
  </div>

  <div class="container">
      <h2>Login</h2>    
      <form id="formLogin" action="">
        <div id="errorMessage"> </div>
        <div>  
          <label for="email">email</label>
          <input type="email" placeholder="Enter email" name="email" required>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" placeholder="Enter Password" id="password" name="password" required>
        </div>
        <div>
        <input type="submit" value="Login"/>
        </div>
      </form>
  </div>
  <script>
    // navbar magic spell
  window.onscroll = function() {scrollFunction()};
  var navbar = document.getElementById("navBar");
  var sticky = navbar.offsetTop;
  
  function scrollFunction() {
  if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky")
      }
  else {
      navbar.classList.remove("sticky");
        }
  } 
  </script>    
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCdtOQhoms2I52-tW1E_b-9c75yMaknUeo",
    authDomain: "niyonsaba-blog.firebaseapp.com",
    databaseURL: "https://niyonsaba-blog.firebaseio.com",
    projectId: "niyonsaba-blog",
    storageBucket: "niyonsaba-blog.appspot.com",
    messagingSenderId: "99333250588",
    appId: "1:99333250588:web:52bdccf2770739045dc9d9",
    measurementId: "G-H9F0CN2HYG"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
  <script src="../scripts/login.js"></script>
</body>
</html>