<!doctype html>
<html len="en">
<head>
    <title>myBlog</title>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="Tech Blog,Rwanda,East Africa">
    <meta name="author" content="Niyonsaba Mugabo Deo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/newArticle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
</head>
<body>
  <!-- nvagiation system-->
  <div id="navBar" class="navBarFixed">
    <div> <a href="../index.html"><img class="Logo" src="../img/Logo.png"></a> </div>  
    <div class="topnav" id="myTopnav">
      <a href="../index.html" class="active">Home</a>
      <a href="../templates/blog.html">Blog</a>
    </div>
  </div>

  <div class="wrapper">
    <form id="newArticleForm" action="">
      <div class="row">
        <div id="errorMessage"></div>
        <div class="col-25">
          <label for="articleTitle">article title</label>
        </div>
        <div class="col-75">
          <input type="text" id="articleTitle" name="articleTitle" placeholder="article title .." required>
        </div>
      </div>
      <div class="row">
      
        <div class="col-25">
          <label for="articleCover">article cover</label>
        </div>
        <div class="col-75">
          <input type="file" id="articleCover" name="articleCover" required>
          <progress id="uploader" value="0" max="100">0%</progress>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="articleCategory">Category</label>
        </div>
        <div class="col-75">
          <select id="articleCategory" name="articleCategory" required>
            <option value="Startup">Startup</option>
            <option value="DevOps">DevOps</option>
            <option value="Tech">Tech</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="articleBody">article headline</label>
        </div>
        <div class="col-75">
          <textarea id="articleHeadline" name="articleHeadline" placeholder="add a headline to this article" required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="articleBody">article body</label>
        </div>
        <div class="col-75">
          <textarea id="articleBody" name="articleBody" placeholder="Write something about an article .." required rows=10></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" id="articleButton" value="Publish">
      </div>
    </form>
  </div>
  <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-storage.js"></script>       
  <script src="../scripts/helper.js"></script>
  <script src="../scripts/newArticle.js"></script>
</body>
</html>